/* Routinely */
*{
    box-sizing: border-box;
    font-family: monospace;
}
body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: monospace;
}
sup { 
	vertical-align: top; font-size: 0.6em; 
}
